# .github/workflows/deploy.yml
name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server
        run: |
          ssh -p 23432 -o StrictHostKeyChecking=no -i key.pem root@155.212.185.20 << EOF
            cd /var/www/site-dev
            git fetch origin
            git checkout main
            git pull origin main
            npm ci
          EOF
