# .github/workflows/deploy.yml
name: Deploy to Server

on:
  push:
    branches:
      - main  # или master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST_ITAMARE }}
          username: ${{ secrets.USERNAME_ITAMARE }}
          key: ${{ secrets.DEPLOY_SSH_KEY_ITAMARE }}
          port: 23432  # <--- Просто добавьте эту строку
          script: |
            cd /var/www/site-dev
            git pull origin main
            # Здесь можно добавить команды перезапуска, например:
            # npm install && pm2 restart all